{% extends '_partials/modal-right.html.twig' %}
{% trans_default_domain 'forms' %}

{% block blockContent %}

    <a class="btn btn-primary" href="{{ onConfirm ?? '#' }}">
        {{ 'common.yes' | trans }}
    </a>

    <a class="btn btn-secondary" href="{{ onCancel ?? '#' }}">
        {{ 'common.no' | trans }}
    </a>

{% endblock %}