{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}


{#
   * Template used where a search on <table> or <select> is needed
   * Usage :

     1) Include this template
           {% include '_partials/search.html.twig' %}

     2) Include Js file in YOUR template:
           {% block javascripts %} {{ encore_entry_script_tags('search') }} {% endblock %}

     3) Table : Apply the class 'js-search-target' to the searchable <td> element(s) :
           <td class="js-search-target">Searchable text</td>

     4) Select: Apply the class 'js-searchable-select' to the searchable <select> element(s)
           <select class='js-searchable-select'>
               <option>Searchable use case one</option>
               <option>Searchable use case two</option>
           </select>

     5) Envoy.

#}

{# Displayed only if current logged in user choose to display search boxes #}
{% if config.showSearch %}

    {# Adding search box css style #}
    {% block head %}
        {{ encore_entry_link_tags('search-style') }}
    {% endblock %}

    {# Display the serach box #}
    <div class="search-box">
        <label for="search-box">
            <span class="fa fa-search fa-flip-horizontal fa-2x"></span>
        </label>
        <input type="search" id="search-box" placeholder="{{ placeholder is defined ? placeholder : '...' }}">
    </div>

{% endif %}