<a href="#" id="help-dialog">
    <i class="far fa-question-circle text-yellow"></i>
</a>

<div class="dialog-modal dialog-medium column hidden" id="help-message">
    <div>
        {% if help is defined %}
            <h2>{{ help.title|trans({}, 'help') }}</h2>
            <p> {{ help.intro|trans({}, 'help')|raw }} </p>
            <div> {{ help.actions|trans({}, 'help')|raw }} </div>
        {% endif %}
    </div>
    <button class="button-ok">Ok</button>
</div>