{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{#
    * Provide a simple help template with button.

    * Help messages are stored in translations/help.locale.

    * Usage:

        1) Include this template in YOUR file providing route option
            {% set help = {'title': 'activities.title', 'intro': 'activities.intro', 'actions': 'activities.actions'} %}
            {% include 'help/help-dialog.html.twig' %}

            Where => 'title'   is the help dialog title.
                  => 'intro'   is the help introduction.
                  => 'actions' is the help text.

        2) Enjoy.
#}

{% if config.showHelp %}
    <a href="#" id="help-dialog" title="Help" class="add-button">
        <i class="far fa-question-circle text-yellow mobile-hidden"></i>
    </a>

    <div class="dialog-modal dialog-medium column hidden mobile-hidden" id="help-message">
        <div>
            {% if help is defined %}
                <h2>{{ help.title|trans({}, 'help') }}</h2>
                <p> {{ help.intro|trans({}, 'help')|raw }} </p>
                <div> {{ help.actions|trans({}, 'help')|raw }} </div>
            {% endif %}
        </div>
        <button class="button-ok">Ok</button>
    </div>
{%  endif %}