{% extends 'base.html.twig' %}

{% block title %}Edit Eleve{% endblock %}

{% block body %}
    <h1>Edit Eleve</h1>

    {{ include('eleve/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('eleves') }}">back to list</a>

{% endblock %}
