{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Student contacts' | trans }} {% endblock %}
{% block title %} {{ 'Student contacts' | trans }} {% endblock %}

{% block titleBottom %}
    {% set placeholder = 'Search for contact'|trans %}
    {% include 'search.html.twig' %}
{% endblock %}

{% block body %}
<div class="full-width">
    {# Medical contacts #}
    {% set vars = {
        'contactsRelations': medicalContactsRelations,
        'noContactMessage': 'No medical contact found',
        'title': 'Medical',
        'titleIcon': 'fas fa-briefcase-medical',
        'hiddenReport': true,
    } %}
    {% include 'students/_partials/contact-table.html.twig' with vars %}

    {# Parents contacts #}
    {% set vars = {
        'contactsRelations': parentsContactsRelations,
        'noContactMessage': 'No student parents contact found',
        'class': 'margin-plus',
        'title': 'Parents',
        'titleIcon': 'fas fa-user-friends',
    } %}
    {% include 'students/_partials/contact-table.html.twig' with vars%}

    {# Other contacts types #}
    {% set vars = {
        'contactsRelations': otherContactsRelations,
        'noContactMessage': 'No student contact found',
        'class': 'margin-plus',
        'title': 'Other contacts',
        'titleIcon': 'fas fa-id-card',
    } %}
    {% include 'students/_partials/contact-table.html.twig' with vars%}
</div>
{% endblock %}


{# Add button desktop / mobile #}
{% set params = {'role': 'ROLE_STUDENT_EDIT', 'route': 'student_add_contact', 'params': {'id': student.id}} %}
{% block functionnalities %} {% include 'add-button.html.twig' with params %} {% endblock %}
{% block functionnalitiesMobile %} {% include 'add-button.html.twig' with params %} {% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('modalDialogs') }}
    {{ encore_entry_script_tags('search') }}
{% endblock %}