.school-report {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', 'Source Sans Pro', 'Arial', sans-serif;
}


/* Head part*/

.school-report #sr-header {
    display: flex;
    justify-content: space-around;
}


.school-report #school-logo {
    width: 10rem;
}

.school-report main {
    margin-top: 2%;
}


/* Table elements */

.school-report table, .school-report td, .school-report th, .school-report tbody {
    border: 1px solid #222;
    border-collapse: collapse;
    text-align: center;
    width: 10rem;
}


.school-report table {
    width: 85%;
    max-width: 85%;
    border-width: 2px;
    margin: 1em auto;
}


.school-report th {
    width: 40rem;
    min-width: 40rem;
}

.school-report td {
    width: 10rem;
    max-width: 10rem;
    min-width: 10rem;
}


.school-report .subject-name-content {
    text-align: left;
    padding-left: 2em;
}


.school-report .bg {
    background-color: #b6c6dd;
}


.school-report .skill-row > th {
    text-align: left;
    padding-left: 4em;
    font-weight: normal;
    width: 36rem;
}

