{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block title %}
    {{ 'schools-implantations.title.management' | trans }}
{% endblock %}

{% block sidebar %}
    {% include '_partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="row mt-4">

        {% if is_granted('ROLE_ADMIN') %}
            {% include '_partials/card.html.twig' with {
                'title': 'schools-implantations.label.list-schools' | trans,
                'content': 'schools-implantations.description.view-list-schools' | trans,
                'label': 'schools-implantations.button.view-list' | trans,
                'action': path('schools_schools_list')
            }%}
        {% endif %}

        {% if is_granted('ROLE_IMPLANTATION_LIST_ALL') %}
            {% include '_partials/card.html.twig' with {
                'title': 'schools-implantations.label.list-implantations' | trans,
                'content': 'schools-implantations.description.view-list-implantations' | trans,
                'label': 'schools-implantations.button.view-list' | trans,
                'action': path('schools_implantations_list')
            }%}
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            {% include '_partials/card.html.twig' with {
                'title': 'schools-implantations.label.add-school' | trans,
                'content': 'schools-implantations.description.add-school' | trans,
                'label': 'schools-implantations.button.add' | trans,
                'action': path('schools_schools_add')
            }%}
        {% endif %}

    </div>
    <div class="row mt-4">

        {% if is_granted('ROLE_IMPLANTATION_CREATE') %}
            {% include '_partials/card.html.twig' with {
                'title': 'schools-implantations.label.add-implantation' | trans,
                'content': 'schools-implantations.description.add-implantation' | trans,
                'label': 'schools-implantations.button.add' | trans,
                'action': path('schools_implantations_add')
            }%}
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            {% include '_partials/card.html.twig' with {
                'title': 'Edit school' | trans,
                'content': 'Edit an existing school to update its information.' | trans,
                'label': 'Edit' | trans,
                'action': path('schools_schools_edit')
            }%}
        {% endif %}

        {% if is_granted('ROLE_IMPLANTATION_EDIT') %}
            {% include '_partials/card.html.twig' with {
                'title': 'Edit implantation' | trans,
                'content': 'Edit an implantation information' | trans,
                'label': 'Edit' | trans,
                'action': path('schools_implantations_edit')
            }%}
            {% endif %}

    </div>
    <div class="row mt-4">

        {% if is_granted('ROLE_ADMIN') %}
            {% include '_partials/card.html.twig' with {
                'title': 'Delete school' | trans,
                'content': 'Delete a school, implantations are preserved and attachable to an other school' | trans,
                'label': 'Delete' | trans,
                'action': path('schools_schools_delete')
            }%}
        {% endif %}

        {% if is_granted('ROLE_IMPLANTATION_DELETE') %}
            {% include '_partials/card.html.twig' with {
                'title': 'Delete implantation' | trans,
                'content': 'Delete an implantation' | trans,
                'label': 'Delete' | trans,
                'action': path('schools_implantations_delete')
            }%}
        {% endif %}

    </div>
{% endblock %}