{% extends 'base.html.twig' %}

{% trans_default_domain 'templates' %}

{% block pageTitle %}{{ 'Notebook' | trans }}{% endblock %}

{% block title %}
    {{ 'Your notebook' | trans }}
{% endblock %}

{% block body %}
    {% for classe in classes %}

    {% else %}
        <div class="text-center">{{ 'You do not have any class'|trans }}</div>
    {% endfor %}
{% endblock %}