
.dialog {
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    height: 5em;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.dialog-modal {
    position: absolute;
    top: 16em;
    left: 0;
    right: 0;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fafafa;
    box-shadow: 0 2px 35px -15px rgba(0,0,0,0.75);
    padding: 50px;
    border: 1px solid var(--primary-color);
    border-radius: 1em;
}

.dialog-confirm {
    height: 8em;
    width: 40em;
    font-weight: bold;
}

.dialog-error {
    background-color: #D98484;
}

.dialog-success {
    background-color: #82d9a7;
}


.dialog-mobile-menu {
    width: 50%;
}

.dialog-medium {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    width: 15em;
    height: auto;
    overflow-y: auto;
}

.dialog-medium p, .dialog-medium div {
    font-size: 0.7em;
    color: var(--primary-color);
    text-align: justify;
}

.dialog-medium ul {
    list-style-type: none;
}

.dialog-medium ul li i {
    width: 1em;
}

.dialog-medium ul li {
    line-height: 2.5em;
}

.dialog-medium span {
    margin-left: 10px;
}

.hidden {
    display: none;
}

.button-ok, .button-cancel {
    cursor: pointer;
    margin-left: 30px;
    margin-right: 30px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width: 8em;
    height: 3em;
}

.button-ok {
    background: #6d9bc4;
}

.button-cancel {
    background: #eaaf19;
}

@media all and (max-width: 800px) {

    .dialog-confirm {
        width: 50%;
    }
}