.modal-window-container{
    background-color: rgba(211,211,211,0.28);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}


#modal-window-wrapper {
    background-color: white;
    box-shadow: 0 2px 30px -19px rgba(0,0,0,0.75);
    width: 80%;
    min-width: 800px;
    min-height: 500px;
    height: 90vh;
    position: absolute;
    top: 5%;
    left: 10%;
    overflow-y: scroll;
}


#modal-window-close {
    font-size: 4em;
    position: absolute;
    z-index: 1;
    top: 3.5%;
    left: 9%;
}

#modal-window-view {
    margin-top: 4%;
}