@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --primary-color: #6d9bc4;
    --secondary-color: #eaaf19;
    --background-color: #fafafa;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 0.73em;
    background-color: var(--background-color);
    margin: 0;
    overflow: hidden;
    color: var(--primary-color);
}


a {
    text-decoration: none;
    color: var(--primary-color);
}

#try-again {
    color: var(--secondary-color);
}

i {
    text-shadow:  3px 3px rgba(198, 190, 176, 0.75);
}

h1 {
    text-align: center;
    margin-bottom: 0.5em;
}

.container {
    display: flex;
    flex-direction: column;
    height: 94vh;
}

.general-message {
    position: absolute;
    top: 5px;
    color: #D98484;
    font-weight: bold;
    width: auto;
}

.modal-center {
    width: 30%;
    margin: auto;
    background-color: #e8e8e8;
    box-shadow: 0 2px 35px -15px rgba(0,0,0,0.75);
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 2em;
}

.modal-center div:first-child {
    margin-top: -8em;
}

.modal-center #password-reset {
    margin-left: 1em;
}

.modal-center form {
    margin-top: 5em;
}

.modal-center input {
    margin: 0 1em 2em 1em;
    padding: 0.8em;
}

/**
 * Application content.
 */
.content {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    margin: 0.8%;
}

.content-text {
    box-shadow: 0 2px 30px -19px rgba(0,0,0,0.75);
    border-radius: 1em;
    background-color: white;
    padding: 2em;
    line-height: 2em;
}


.go-back {
    font-size: 4em;
    margin-top: -0.3em;
    color: var(--secondary-color);
}

.mobile-hidden-td {
    display: table-cell;
}

.mobile-hidden {
    display: inline-block;
}

.desktop-hidden {
    display: none;
}

.skill, .no-skill {
    padding-left: 2.5em;
    background-color: #fff;
}

.domain {
    background-color: var(--background-color);
}

.no-skill {
    color: indianred;
}

.skill-description {
    font-size: 0.8em;
    font-style: italic;
}

.dashboard-panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


/**
 * Top right user links menu.
 */
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1%;
}

header nav i {
    font-size: 3em;
}

#logo span, header nav span {
    font-size: 1em;
    margin-top: 10px;
}

.menuItem > i:hover, #mobile-top-nav i:hover {
    animation: faMouseIn;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
}


/**
 * Navigation.
 */
nav {
    margin-top: 1.5em;
    height: 6.3em; /* To keep it in proportions */
    background-color: #e8e8e8;
    box-shadow: 0 2px 32px -18px rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav i, nav span {
    text-align: center;
}

/* For the header */
header nav .menuItem, #mobile-menu .menuItem {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.add-button {
    color: var(--secondary-color);
    margin-left: 0.3em;
}

#mobile-top-nav {
    display: none;
}

#mobile-menu-items {
    display: flex;
    background-color: white;
    box-shadow: 0 0 4px var(--secondary-color);
    position: absolute;
    width: 22em;
    user-select: none;
}

#mobile-menu-items li {
    list-style-type: none;
    line-height: 3em;
}

#mobile-menu-toggle {
    display: none;
    font-size: 2em;
    margin-right: 0.8em;
}

#mobile-menu-toggle i {
    width: 1em;
}


#user-links > i {
    font-size: 2.8em;
    text-shadow: none;
    color: var(--secondary-color);
}

#user-links > i:hover {
    animation: faMouseIn;
    animation-fill-mode: revert;
    animation-duration: 0.2s;
}

#user-links-toggle {
    display: none;
    background: white;
    box-shadow: 0 2px 35px -15px rgba(0,0,0,0.75);
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    height: 9em;
    position: absolute;
    right: 2em;
    top: 3.5em;
}

#user-links-toggle > a > i {
    margin-right: 0.5em;
}


/**
 * Mobile footer related.
 */
#mobile-menu {
    position: fixed;
    left: 3em;
    right: 3em;
    bottom: 0;
    height: 3em;
    background-color: #e8e8e8;
    box-shadow:inset 0 15px 5px -16px var(--secondary-color);
    display: flex;
}

#mobile-menu {
    left: 0;
    right: 0;
    height: 6em;
    display: none;
}

#mobile-menu i {
    font-size: 3.5em;
}


/**
 * Forms and forms elements.
 */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 2.5em;
}

input, select {
    outline: unset;
    padding: 0.4em;
}

input:focus, select:focus {
    outline: unset;
}

.higher select {
    height: 30em;
    width: 100%;
}

.checkbox-container {
    background-color: white;
    box-shadow: 0 0 3px gray;
    height: 38em;
    overflow: auto;
}

.checkbox-container input {
    display: inline !important;
}


button[type="submit"], .button {
    width: auto;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    align-self: flex-end;
    padding: 1em;
}

.button {
    border: 1px solid var(--primary-color);
    background-color: var(--secondary-color);
}

#logo-mini {
    height: 15em;
    margin-right: 2em;
}


#change_password_form_plainPassword, #change_password_form_plainPassword div {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.form-row, .form-row label, .form-row input {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-row ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.form-error, .form-info {
    font-size: 0.8em;
    color: #D98484;
    font-weight: bold;
}

.form-info {
    color: inherit;
}

.form-info a {
    color: var(--secondary-color);
    margin-left: 0.2em;
}

.form-row {
    margin-bottom: 15px;
}

.form-row select {
    margin-right: 0.8em;
}

.form-content {
    padding: 28px;
    width: 60%;
    /*border-radius: 2em;*/
}

/**
 * Tables and global content data.
 */
table, .form-content {
    text-align: left;
    box-shadow: 0 2px 30px -19px rgba(0,0,0,0.75);
    border-collapse: collapse;
    border-radius: 1em;
}

table .sub-header {
    background: #82a7c8 !important;
    color: white;
    font-weight: bold;
    user-select: none;
}

th {
    background-color: var(--primary-color);
    font-weight: bold;
    color: white;
}

tr, td {
    white-space: nowrap;
}

th, td {
    padding: 1em 0.8em;
    border-bottom: 1px solid #ddd;
}

tr:hover, tr:nth-child(even):hover {
    background-color: var(--secondary-color);
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:hover i, tr:hover a {
    color: white;
}

#activite-notes {
    line-height: 1.3em;
}

#activite-notes td {
    padding: 0.5em;
}

.activity-add-theme, .activity-add-theme a {
    text-align: end !important;
}

#themes-domaines-skills table tr:hover {
    background: unset;
}

#themes-domaines-skills tr:hover #themes-domaines-skills i, #themes-domaines-skills tr:hover a,
#themes-domaines-skills tr:hover i, #themes-domaines-skills tr:hover a{
    color: var(--secondary-color);
}

.large input {
    width: 80%;
}

.small {
    width: 20%;
    text-align: center;
}

.small input {
    text-align: center;
    width: 60%;
}

.justify-content-end {
    justify-content: end;
}

/**
 * Polishing / helper classes.
 */
.margin-15 {
    margin-top: 15px;
}

.margin-plus {
    margin-top: 5em;
}

.margin-left {
    margin-left: 5px;
}

.margin-right {
    margin-right: 5px;
}

.margins {
    margin-left: 10px;
    margin-right: 10px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.full-width {
    width: 100%;
    align-items: center;
}

.width-10-percent {
    width: 10%;
}

.width-20-percent {
    width: 20%;
}

.width-25-percent {
    width: 25%;
}

.width-100 {
    width: 95%;
}

.width-50-percent {
    width: 49.1%;
}

.text-red {
    color: #D98484;
}

.text-yellow {
    color: var(--secondary-color);
}

.text-green-medal {
    color: #22bf3f;
}

.text-red-medal {
    color: #bc2424;
}

.text-green {
    color: #82d9a7;
}

.text-bold {
    font-weight: bold;
}

.text-white {
    color: white;
}

.text-bigger {
    font-size: 6em;
}

.bg-yellow {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

.bg-white {
    background-color: #fff;
}

.bg-white:hover {
    color: var(--secondary-color);
}

/* Usually elements that must be grouped */
.width-25-percent h1, .width-25-percent h2 {
    text-align: left;
    margin-top: 1.5em;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

.align-items-start {
    align-items: flex-start;
}

.display-row {
    flex-direction: row;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-start {
    justify-content: flex-start;
}

.display-none {
    display: none;
}

.font-medium {
    font-size: medium;
}

#mobile-contact-actions {
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 2em;
    font-size: 4em;
    display: none;
}

#contact-send-mail i {
    font-size: 2.5em;
}

.about h2 {
    color: var(--secondary-color);
}

.about ul li {
    list-style-type: none;
    line-height: 2em;
}

.about ul li a, .about ul li span {
    margin-left: 0.5em;
}

/**
 * Medium screens.
 */
@media all and (max-width: 1370px) {

    .modal-center form {
        margin-top: 3em;
    }

    .modal-center input {
        margin-bottom: 1em;
    }

    #logo-mini {
        height: 10em;
    }
}

@media all and (max-width: 1050px) {

    #logo span {
        display: none;
    }

    .width-25-percent, .width-20-percent {
        width: 33%;
    }

    th, td {
        word-wrap: anywhere;
        white-space: initial;
        padding: 1em 0.5em;
    }
}


@media all and (max-width: 1000px) {
    .modal-center {
        width: 60%;
    }
}


/**
 * Small screens.
 */
@media all and (max-width: 800px) {

    .add-button {
        margin-left: 0.1em;
    }

    #user-links, header > nav {
        display: none;
    }

    #mobile-menu-toggle {
        display: inline-block;
    }

    #mobile-menu, #mobile-contact-actions {
        display: flex;
    }

    .width-25-percent, .width-20-percent {
        width: 50%;
    }

    .mobile-hidden, .hidden {
        display: none;
    }

    .mobile-hidden-td {
        display: none;
    }

    .desktop-hidden {
        display: inline-block;
    }

    #contact-details {
        margin-top: 3.5em;
    }

    .dashboard-panel {
        flex-direction: column;
    }

    .dashboard-panel div {
        width: 100%;
    }

    #themes-domaines-skills {
        margin-top: 5em;
    }
}


@media all and (max-width: 450px) {
    .modal-center {
        width: 85%;
    }
}

/**
 * Animate fa icons on hover i elements.
 */
@keyframes faMouseIn {
    from {
        color: var(--primary-color);
    }

    to {
        color: var(--secondary-color);
    }
}