@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root {
    --primary-color: #6d9bc4;
    --secondary-color: #eaaf19;
    --background-color: #fafafa;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    background-color: var(--background-color);
    margin: 0;
    overflow: hidden;
    color: var(--primary-color);
}

body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 9px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    z-index: 100;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

#try-again {
    color: var(--secondary-color);
}

i {
    text-shadow:  3px 3px rgba(198, 190, 176, 0.75);
}

h1, h2 {
    text-align: center;
}

.container {
    margin: 2%;
    display: flex;
    flex-direction: column;
    height: 88vh;
}

.modal-center {
    width: 60%;
    margin: auto;
    background-color: #e8e8e8;
    box-shadow: 0 2px 35px -15px rgba(0,0,0,0.75);
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 16em;
}

/**
 * Application content.
 */
.content {
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.mobile-hidden-td {
    display: table-cell;
}

.mobile-hidden {
    display: inline-block;
}


/**
 * Top right user links menu.
 */
.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuTopIcon {
    display: inline-block;
    margin-left: 16px;
}

.menuTopIcon > i, header nav i {
    font-size: 3em;
}

.menuTopIcon > span, #logo span, header nav span {
    font-size: 1em;
    margin-top: 10px;
}

.menuTopIcon > i:hover, .menuItem > i:hover, #mobile-top-nav i:hover {
    animation: faMouseIn;
    animation-fill-mode: forwards;
    animation-duration: 0.8s;
}


/**
 * Navigation.
 */
nav {
    margin-top: 2em;
    height: 6.5em; /* To keep it in proportions */
    background-color: #e8e8e8;
    /*box-shadow: 1px 1px #eaaf19;*/
    box-shadow: 0 2px 35px -15px rgba(0,0,0,0.75);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav i, nav span {
    text-align: center;
}

/* For the header AND footer nav */
nav .menuItem {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

#mobile-top-nav {
    display: none;
}

#mobile-menu-items {
    display: flex;
    background-color: white;
    box-shadow: 0 0 4px var(--secondary-color);
    position: absolute;
    width: 22em;
    right: 2.3em;
    top: 4em;
    user-select: none;
}

#mobile-menu-items li {
    list-style-type: none;
    line-height: 3em;
}

#mobile-menu-toggle, #mobile-add-functionality {
    display: none;
    font-size: 2em;
    margin-left: 0.8em;
}

#mobile-menu-toggle i {
    width: 1em;
}

/**
 * Add functionality.
 */
#add-functionality {
    position: fixed;
    left: 3em;
    right: 3em;
    bottom: 3.5em;
}

#add-functionality i {
    font-size: 3em;
    color: var(--secondary-color);
}

.go-back {
    font-size: 4em;
    margin-top: -0.3em;
    color: var(--secondary-color);
}

/**
 * Footer related.
 */
footer {
    position: fixed;
    left: 3em;
    right: 3em;
    bottom: 0;
    height: 3em;
    background-color: #e8e8e8;
    box-shadow:inset 0 15px 5px -16px var(--secondary-color);
}

footer p {
    padding-left: 1em;
}

footer a {
    color: var(--secondary-color);
}

footer nav {
    margin-top: 0.2em;
    box-shadow: none;
}

footer nav i {
    font-size: 3.5em;
}

/**
 * Forms and forms elements.
 */
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 2.5em;
}

input, select {
    border-radius: 2px;
    padding: 9px;
}

.higher select {
    height: 30em;
    width: 100%;
}

.checkbox-container {
    background-color: white;
    box-shadow: 0 0 3px gray;
    height: 38em;
    overflow: auto;
}

.checkbox-container input {
    display: inline !important;
}


button[type="submit"] {
    width: auto;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    align-self: flex-end;
    padding-left: 12px;
    padding-right: 12px;
}

#logo-mini {
    height: 26em;
    margin-right: 3em;
}

#change_password_form_plainPassword, #change_password_form_plainPassword div {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.form-row, .form-row label, .form-row input {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form-row ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.form-error {
    font-size: 0.8em;
    color: #D98484;
    font-weight: bold;
}

.form-row {
    margin-bottom: 15px;
}

.form-row select {
    margin-right: 0.8em;
}

.form-content {
    padding: 28px;
}

/**
 * Tables and global content data.
 */
table, .form-content {
    text-align: left;
    box-shadow: 0 2px 35px -15px rgba(0,0,0,0.75);
    border-collapse: collapse;
}

th {
    background-color: var(--primary-color);
    font-weight: bold;
    color: white;
}

tr, td {
    white-space: nowrap;
}

th, td {
    padding: 1em 0.8em;
    border-bottom: 1px solid #ddd;
}

tr:hover, tr:nth-child(even):hover {
    background-color: var(--secondary-color);
}

tr:nth-child(even) {
    background-color: #fff;
}

tr:hover i, tr:hover a {
    color: white;
    font-weight: bold;
}

#activite-notes {
    line-height: 2em;
}

#activite-notes td {
    padding: 0.5em;
}

.large input {
    width: 80%;
}

.small {
    width: 20%;
    text-align: center;
}

.small input {
    text-align: center;
    width: 60%;
}

/**
 * Polishing classes.
 */
.margin-15 {
    margin-top: 15px;
}

.margin-left {
    margin-left: 5px;
}

.full-width {
    width: 100%;
}

.width-25-percent {
    width: 25%;
}

.text-red {
    color: #D98484;
}

.text-green {
    color: #82d9a7;
}

.text-bold {
    font-weight: bold;
}


.text-yellow {
    color: var(--secondary-color);
}

.bg-yellow {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

/* Usually elements that must be grouped */
.width-25-percent h1, .width-25-percent h2 {
    text-align: left;
    margin-top: 1.5em;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

.align-items-start {
    align-items: flex-start;
}

.display-row {
    flex-direction: row;
    flex-wrap: wrap;
}

/**
 * Medium screens.
 */
@media all and (max-width: 1210px) {

    body {
        font-size: 0.8em;
    }
}

@media all and (max-width: 1050px) {

    #logo span {
        display: none;
    }

    .width-25-percent {
        width: 33%;
    }

    th, td {
        word-wrap: anywhere;
        white-space: initial;
        padding: 1em 0.5em;
    }
}

/**
 * Small screens.
 */
@media all and (max-width: 800px) {

    body {
        font-size: 0.75em;
    }

    #user-links, header > nav, footer p, #add-functionality, #logo-mini {
        display: none;
    }

    #mobile-menu-toggle, #mobile-add-functionality {
        display: inline-block;
    }

    footer {
        left: 0;
        right: 0;
        height: 6em;
    }

    footer a {
        color: var(--primary-color);
    }

    .width-25-percent {
        width: 50%;
    }

    .mobile-hidden {
        display: none;
    }

    .mobile-hidden-td {
        display: none;
    }
}

/**
 * Animate fa icons on hover i elements.
 */
@keyframes faMouseIn {
    from {
        color: var(--primary-color);
    }

    to {
        color: var(--secondary-color);
    }
}