body, html, .header {
  background: #6d9bc3;
  font-family: 'Roboto:400', sans-serif;
  color: #f8f7ed;
}


.header {
  height: 22%;
}


.head-content {
  margin: 30px 30px 10px;
}


.btn-light {
  background-color: #f8f7ed;
}


#login {
  margin-top: 10%;
  border: 3px #f8f7ed solid;
  border-radius: 10px;
  padding: 50px 70px 50px ;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}


.login-input {
  margin-bottom: 5%;
}


.login-input, .login-input:hover, .login-input::placeholder {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #eaaf1c;
  color: #f8f7ed;
}


@keyframes fadeIn {

  0% {
    opacity : 0;
  }

  100% {
    opacity : 1;
  }

}


@media screen and (max-width: 490px) {
  h4 {
    font-size: .9em;
  }

  #login {
    padding: 50px 40px 50px ;
  }
}