<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, user-scalable=0">
    <title>Evalbook | En maintenance</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="container-fluid d-block">
    <img src="../assets/images/logo_evalbook_mini.png" height="528px" width="528px" alt="logo evalbook" style="margin: 2.5em auto 0 auto">

    <div id="content">
        <h2>Evalbook est en maintenance</h2>

    <div id="infos">
        <p id="version">Passage vers la version 0.0.3</p>
        <div id="bugs">
            <h3>Bugs corrigés</h3>
        </div>
        <div id="update">
            <h3>Nouvelles fonctionnalités</h3>
        </div>
    </div>
    </div>
</div>


</body>
</html>