{% extends 'modal-right.html.twig' %}

{% block blockContent %}

    <a class="btn btn-primary" href="{{ onConfirm ?? '#' }}">
        {{ 'Ok' | trans }}
    </a>

    <a class="btn btn-secondary" href="{{ onCancel ?? '#' }}">
        {{ 'Cancel' | trans }}
    </a>

{% endblock %}