{% extends 'base.html.twig' %}

{% block body %}

    {%  extends 'sidebar.html.twig' %}

    <div class="col-md-8 container">
        <ul>
            <li><a href="#">Voir la liste des utilisateurs</a></li>
            <li><a href="#">Ajouter un utilisateur</a></li>
            <li><a href="#">Modifier un utilisateur</a></li>
            <li><a href="#">Supprimer un utilisateur</a></li>
        </ul>
    </div>
{% endblock %}