{% extends 'base.html.twig' %}

{% block body %}

    {# % include 'sidebar.html.twig' % #}

    <div class="col-md-8 container">
        <ul>
            <li><a href="{{ path('users_list') }}">Voir la liste des utilisateurs</a></li>
            <li><a href="{{ path('users_add') }}">Ajouter un utilisateur</a></li>
            <li><a href="{{ path('users_edit') }}">Modifier un utilisateur</a></li>
            <li><a href="{{ path('users_delete') }}">Supprimer un utilisateur</a></li>
        </ul>
    </div>
{% endblock %}