{% extends 'base.html.twig' %}
{% trans_default_domain 'templates' %}

{% block title %}
    {{ "users.management" | trans }}
{% endblock %}

{% block sidebar %}
    {% include '_partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}

    <div class="row mt-4">

        {% if is_granted('ROLE_USERS_LIST') %}
            {% include '_partials/card.html.twig' with {
                'title': 'card.label.view-users-list' | trans,
                'content': 'card.description.view-users-list' | trans,
                'label': 'card.button.view-users-list' | trans,
                'action': path('users_list')
            }%}
        {% endif %}

        {% if is_granted('ROLE_USER_CREATE') %}
            {% include '_partials/card.html.twig' with {
                'title': 'card.label.add-users' | trans,
                'content': 'card.description.add-users' | trans,
                'label': 'card.button.add-users' | trans,
                'action': path('users_add')
            }%}
        {% endif %}

        {% if is_granted('ROLE_ADMIN') %}
            {% include '_partials/card.html.twig' with {
                'title': 'card.label.add-admin' | trans,
                'content': 'card.description.add-admin' | trans,
                'label': 'card.button.add-admin' | trans,
                'action': path('users_add_admin')
            }%}
        {% endif %}

    </div>
    <div class="row mt-4">

        {% if is_granted('ROLE_USER_EDIT') %}
            {% include '_partials/card.html.twig' with {
                'title': 'card.label.edit-users' | trans,
                'content': 'card.description.edit-users' | trans,
                'label': 'card.button.edit-users' | trans,
                'action': path('users_edit')
            }%}
        {% endif %}

        {% if is_granted('ROLE_USER_DELETE') %}
            {% include '_partials/card.html.twig' with {
                'title': 'card.label.delete-users' | trans,
                'content': 'card.description.delete-users' | trans,
                'label': 'card.button.delete-users' | trans,
                'action': path('users_delete')
            }%}
        {% endif %}
    </div>

{% endblock %}
