{#**
* Copyleft (c) 2020 EvalBook
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the European Union Public Licence (EUPL V 1.2),
* version 1.2 (or any later version).
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* European Union Public Licence for more details.
*
* You should have received a copy of the European Union Public Licence
* along with this program. If not, see
* https://joinup.ec.europa.eu/collection/eupl/eupl-text-eupl-12
**#}

{% extends 'base-no-menu.html.twig' %}
{% trans_default_domain 'templates' %}

{% block pageTitle %} {{ 'Users' | trans }} {% endblock %}
{% block title %}
    {{ 'Error !' | trans }}
{% endblock %}

{% block body %}
    <div class="container full-width text-center">
        <h1 class="text-yellow text-bold">
            {% block errorTitle %} {% endblock %}
        </h1>
        <p>
            {% block errorMessage %} {% endblock %}
        </p>
        <div>
            <a href="{{ path('classrooms') }}"><i class="fas fa-home text-bigger"></i></a>.
        </div>
    </div>
{% endblock %}